.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.calc-wrapper {
  width: 400px;
  height: 600px;
}
.row {
  display: flex;
  width: 100%;
}


#displayB {
  position: absolute;
  top: 90px;
  left: 680px;
  margin-top: 5px;
  padding: 8px;
  background-color: rgb(116, 116, 231);
  color: white;
  font-weight: bold;
}

#displayB:hover {
  cursor: pointer;
  opacity: 91%;
}

#equalB:hover {
  cursor: pointer;
}

#clearB:hover {
  cursor: pointer;
}